/* 
  MAIN 
*/
main{
  height: calc(100vh - 100px);
  background-color: grey;
}

/* Main Menu */                           /* Main - Part 1 */
.main-menu{
  width: 200px;
  background-color: black;
}

/* Menu Container */
.menu-container{
  height: 100%;
  overflow: hidden;
}

/* Logo */
.menu-logo{
  margin: 10px 0px;
  width: 8rem;
  margin-bottom: 20px;
}

/* Search */
.menu-search{
  margin-bottom: 20px;
}

.menu-search i{
  width: 12%;
  font: 100px;
  margin-bottom: 8px;
}

/* Playlist */
.menu-playlist{
  overflow-y: hidden;
  height: calc(100% - 200px);
}

.menu-playlist h5{
  color: white;
  margin-bottom: 10px;
}

.create-playlist i{
  font-size: 2.5rem;
}

.create-playlist span{
  padding: 10px 5px;
}

.name-playlist{
  overflow-y: auto;
}

.menu-playlist p{
  margin: 14px 0px;
}

/* User Download */
.menu-user-download{
  width: 100%;
  margin-bottom: 5px;
}

.menu-user-download hr{
  border: 1px solid #707070;
  margin: 10px 0px;
}

/* Download */
.download i{
  font-size: .8rem;
}

/* User */
.user img{
  width: 2rem;
  background-color: grey;
  border-radius: 50%;
  padding: 2px 3px;
}

.user span{
  margin-top: 8px;
  margin-left: 8px;
  color: white;
}

/* Main Content */                           /* Main - Parte 2 */
.main-content{
  width: calc(100% - 200px);
  background-color: #141922;
  overflow-y: auto;
}

/* Upgrade Button */
.upgrade-button-container{
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  z-index: 999;
}

.upgrade-button{
  color: white;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 40px 0px;
  font-size: .8rem;
  margin-right: 20px;
}

.upgrade-button:hover{
  transform: scale(1.1);
}

/* Songs Container */
.songs-container{
  height: calc(100% - 100px);
}

/* Songs Menu */
.songs-menu{
  margin-top: 120px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
}

.songs-menu ul{
  justify-content: center;
  flex-wrap: wrap;
}

.songs-menu li{
  font-size: .85rem;
  text-transform: uppercase;
  margin-top: 10px;
}

.songs-menu a{
  align-items: center;
  margin-left: 20px;
  color: #707070;
  margin-bottom: 10px;
}

.songs-menu a:hover{
  color: white;
}

/* Songs Card Size - Recently Played, Created By ID, Popular Artist*/
.recently-played-title,
.created-by-id-title,
.popular-artist-title{
  color: white;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.recently-played-title p,
.created-by-id-title p,
.popular-artist-title p{
  color: #707070;
  font-size: .8rem;
  margin-top: 5px;
}

.recently-played-card,
.created-by-id-card,
.popular-artist-card{
  width: calc(100% / 6);
  margin-right: 5%;
  margin-bottom: 10px;
}

.recently-played-card-img,
.created-by-id-card-img,
.popular-artist-card-img{
  position: relative;
}

.recently-played-card-img img,
.created-by-id-card-img img,
.popular-artist-card-img img{
  width: 100%;
}

.play-song{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 11px 14px;
  border-radius: 50%;
  border: 5px solid white;
  font-size: 2rem;
  display: none;
}

.recently-played-card-img img:hover,
.created-by-id-card-img img:hover,
.popular-artist-card-img img:hover{
  opacity: 50%;
}

.recently-played-card-img:hover .play-song,
.created-by-id-card-img:hover .play-song,
.popular-artist-card-img:hover .play-song{
  display: block;
  cursor: pointer;
}

.recently-played-card-text,
.created-by-id-card-text,
.popular-artist-card-text{
  text-align: center;
}

.recently-played-card-text h4,
.created-by-id-card-text h4,
.popular-artist-card-text h4{
  color: white;
  margin: 5px 0px;
}


.recently-played-card-text p,
.created-by-id-card-text p,
.popular-artist-card-text p{
  color: #707070;
  font-size: .8rem;
}

/* Recently Played */
.recently-played{
  margin-bottom: 50px;
}

.recently-played-card-container{
  display: flex;
}

/* Created By ID */
.created-by-id{
  margin-bottom: 50px;
}

/* Popular Artist */
.popular-artist-card-img img{
  border-radius: 50%;
}

/* 
  /MAIN 
*/

/* 
  FOOTER 
*/
footer{
  height: 100px;
  background-color: #282828;
}

/* Music-Overlay */

/* Music-Overlay Left*/
.song img{
  width: 3rem;
  margin-left: 10px;
}

.song-text{
  font-size: .8rem;
  margin-left: 8px;
  margin-top: 9px;
}

.song-text strong{
  color: white;
}

.song-text p{
  font-size: .75rem;
}

.song-text p:hover{
  text-decoration: underline;
}

.song-options{
  margin-left: 20px;
  color: #707070;
}

.song-options i{
  margin-left: 10px;
  font-size: 1.1rem;
}

/* Music-Overlay Center*/
.music-overlay-center{
  width: calc(100% - 1000px);
  min-width: 229px;
  text-align: center;
}

.music-overlay-center i{
  color: white;
  margin-left: 20px;
  font-size: 1.4rem;
}

.costum-play{
  padding: 6px 8px;
  border-radius: 50%;
  border: 3px solid white;
}

.costum-play:hover{
  transform: scale(1.1);
}

.song-duration{
  width: 100%;
  margin-top: 15px;
}

.song-start-time,
.song-total-duration{
  font-size: .7rem;
  color: white;
}

.song-start-time{
  width: 30px;
}

.song-duration-overlay{
  width: calc(100% - 60px);
}

.song-duration-overlay-level{
  height: 5px;
  width: 95%;
  background-color: #707070;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 1px;
}

.song-duration-overlay-play-level{
  height: 5px;
  width: 25%;
  background-color: white;
  border-radius: 10px;
}

.song-duration-overlay-play-level:hover{
  background-color: lightgreen;
}

.song-total-duration{
  width: 30px;
}

/* Music-Overlay Right*/
.music-overlay-right{
  margin-right: 10px;
}

.music-overlay-right i{
  color: white;
  font-size: 1rem;
  margin-left: 14px;
}

.music-audio{
  width: 125px;
  height: 10px;
  margin-top: 3px;
  margin-left: 10px;
  position: relative;
  border-radius: 10px;
}

.music-audio-overlay{
  background-color: #707070;
  width: 125px;
  height: 5px;
  border-radius: 10px;
}

.music-audio-level{
  background-color: white;
  width: 32%;
  height: 5px;
  border-radius: 10px;
  margin-top: 2.5px;
}

.music-audio-level:hover{
  background-color: lightgreen;
}

.music-audio i{
  margin-left: 35px;
  font-size: .7rem;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
}

.music-audio:hover i{
  display: inline;
}

/* 
  /FOOTER 
*/